NodeRed/nodes.json
[{"id":"a0fed8ce7ddc2417","type":"tab","label":"Mapa","disabled":false,"info":"","env":[]},{"id":"5d72ce96ee24af62","type":"http request","z":"a0fed8ce7ddc2417","name":"mapa","method":"GET","ret":"txt","paytoqs":"query","url":"http://mapa.lan/?","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"other","keyValue":"Content-Type","valueType":"other","valueValue":"application/json"}],"x":870,"y":960,"wires":[["be2f86ab44487e9d"]]},{"id":"cb7b20da6626075e","type":"DataIn","z":"a0fed8ce7ddc2417","collection":"e364fc5fe03dd16f","name":"radar","update":false,"path":"/mapa-radar","x":570,"y":300,"wires":[]},{"id":"69201ab45a13af38","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"e364fc5fe03dd16f","name":"radar","path":"/mapa-radar","error":false,"x":230,"y":600,"wires":[["380c5600.15f6fa","e37b75d73b5cd44d"]]},{"id":"cfdc263fa0550057","type":"inject","z":"a0fed8ce7ddc2417","name":"radar","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["69201ab45a13af38"]]},{"id":"43554fcc65866cb5","type":"http request","z":"a0fed8ce7ddc2417","name":"Teploty","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://lab.aperturelab.cz/mapa/teploty.php","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":420,"y":360,"wires":[["a5811ff10fc4f8a0"]]},{"id":"a5811ff10fc4f8a0","type":"DataIn","z":"a0fed8ce7ddc2417","collection":"6e81e09977494326","name":"teplota","update":false,"path":"/mapa-teplota","x":570,"y":360,"wires":[]},{"id":"511626c0c1d44352","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"6e81e09977494326","name":"teplota","path":"/mapa-teplota","error":false,"x":310,"y":960,"wires":[["2c2af427f84fe615","e5eb9d09d3e39178"]]},{"id":"c14970570cef3eb8","type":"inject","z":"a0fed8ce7ddc2417","name":"teplota","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":960,"wires":[["511626c0c1d44352"]]},{"id":"7d8c849f1d200718","type":"function","z":"a0fed8ce7ddc2417","name":"tmp - mesta","func":"var j = global.get(\"jas_mesta\")\nvar outPayload = [];\nvar m = 0;\nvar p = 0;\n\nif (j > 0 && j < 3) { j = 3; }\nif (j == 3) { m = 25; }\n\nfor (var i = 0; i < 72; i++) {\n    var t = Number(msg.payload[i].t);\n    var r, g, b;\n\n    if (t <= 0) { r = 0; g = 100; b = 255 };\n    if (t <= -5) { r = 0; g = 0; b = 255 };\n\n    if (t > 0) { r = 0; g = 255; b = 255 };\n    if (t >= 5) { r = 0; g = 255; b = 128 };\n    if (t >= 10) { r = 0; g = 255; b = 0 };\n    if (t >= 15) { r = 128; g = 255; b = 0 };\n    if (t >= 20) { r = 255; g = 255; b = 0 };\n    if (t >= 25) { r = 255; g = 128; b = 0 };\n    if (t >= 30) { r = 255; g = 0; b = 0 };\n\n    r = r - m;\n    g = g - m;\n    b = b - m;\n\n    if (r < 0) {r = 0};\n    if (g < 0) {g = 0};\n    if (b < 0) {b = 0};\n\n    var newO = {};\n\n    newO = {\n        \"id\": Number(msg.payload[i].id),\n        \"r\": (r),\n        \"g\": (g),\n        \"b\": (b)\n    }\n    outPayload[p] = newO;\n    p = p + 1;\n}\n\nmsg.payload = {'mesta': JSON.stringify(outPayload), 'jas': j}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":940,"wires":[["5d72ce96ee24af62"]]},{"id":"2c2af427f84fe615","type":"json","z":"a0fed8ce7ddc2417","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":960,"wires":[["7d8c849f1d200718","a57f4798b9f8179d"]]},{"id":"be2f86ab44487e9d","type":"debug","z":"a0fed8ce7ddc2417","name":"response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":960,"wires":[]},{"id":"380c5600.15f6fa","type":"switch","z":"a0fed8ce7ddc2417","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"},{"t":"lte","v":"2","vt":"num"}],"checkall":"false","repair":true,"outputs":2,"x":370,"y":620,"wires":[["b14fca9f1b0bd1dd","6684c4d3a4a4ec50","5eda09a88910011e"],["511626c0c1d44352","410cf4177868cf30"]]},{"id":"a57f4798b9f8179d","type":"function","z":"a0fed8ce7ddc2417","name":"tmp - okraj","func":"var j = global.get(\"jas_okraj\")\nvar outPayload = [];\nvar h = 0;\nvar r,g,b;\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    h += msg.payload[i].h;\n}\n\nh = Math.round(h / msg.payload.length);\n\nif (h < 0) { r = 0; g = 128; b = 255 };\nif (h <= 5) { r = 0; g = 0; b = 255 };\n\nif (h >= 0) { r = 0; g = 255; b = 255 };\nif (h >= 5) { r = 0; g = 255; b = 128 };\nif (h >= 10) { r = 0; g = 255; b = 0 };\nif (h >= 15) { r = 128; g = 255; b = 0 };\nif (h >= 20) { r = 255; g = 255; b = 0 };\nif (h >= 25) { r = 255; g = 128; b = 0 };\nif (h >= 30) { r = 255; g = 0; b = 0 };\n\nfor (var i = 0; i <= 27; i++) {\n  var newO = {};\n  newO = {\n    \"id\": i,\n    \"r\": r,\n    \"g\": g,\n    \"b\": b\n  }\n  outPayload[i] = newO;\n}\n\nmsg.payload = { 'okraj': JSON.stringify(outPayload), 'jas': j}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":980,"wires":[["5d72ce96ee24af62"]]},{"id":"14b9a41e9e87b82d","type":"server-state-changed","z":"a0fed8ce7ddc2417","name":"Lux","server":"37fc65d2.44a4fa","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.lux","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":120,"wires":[["64e0c8422e479c6c","0b9a0bb64b2d3461"]]},{"id":"64e0c8422e479c6c","type":"range","z":"a0fed8ce7ddc2417","minin":"0","maxin":"40","minout":"0","maxout":"5","action":"scale","round":true,"property":"payload","name":"","x":390,"y":80,"wires":[["5547ff0d330952c7"]]},{"id":"0b9a0bb64b2d3461","type":"range","z":"a0fed8ce7ddc2417","minin":"0","maxin":"30","minout":"0","maxout":"12","action":"scale","round":true,"property":"payload","name":"","x":390,"y":120,"wires":[["fcd1e44da5374cc6"]]},{"id":"5547ff0d330952c7","type":"function","z":"a0fed8ce7ddc2417","name":"jas mesta","func":"var j = msg.payload;\nvar l = global.get(\"homeassistant.homeAssistant.states['light.li_group_desk'].state\");\n\nif (j == 0 && l == 'on') { j = 3; }\n\nglobal.set(\"jas_mesta\",j);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":80,"wires":[["a135a75f61b72bf5"]]},{"id":"fcd1e44da5374cc6","type":"function","z":"a0fed8ce7ddc2417","name":"jas okraj","func":"global.set(\"jas_okraj\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":120,"wires":[[]]},{"id":"8e78bb7dd31fa729","type":"function","z":"a0fed8ce7ddc2417","name":"srazky - okraj","func":"var j = global.get(\"jas_okraj\")\nvar d = { \"id\": 1, \"r\": 0, \"g\": 0, \"b\": 1, \"bri\": j, \"del\": 20, \"dea\": 100 }\nmsg.payload = { 'efekt_okraj': JSON.stringify(d) }\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":860,"wires":[["5d72ce96ee24af62"]]},{"id":"a135a75f61b72bf5","type":"link out","z":"a0fed8ce7ddc2417","name":"link out jas","mode":"link","links":["8b08b5320d2f749e"],"x":655,"y":80,"wires":[]},{"id":"8b08b5320d2f749e","type":"link in","z":"a0fed8ce7ddc2417","name":"link in jas","links":["a135a75f61b72bf5"],"x":95,"y":600,"wires":[["69201ab45a13af38"]]},{"id":"e37b75d73b5cd44d","type":"debug","z":"a0fed8ce7ddc2417","name":"radar","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"e5eb9d09d3e39178","type":"debug","z":"a0fed8ce7ddc2417","name":"teplota","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":920,"wires":[]},{"id":"95635aafde0d45f6","type":"function","z":"a0fed8ce7ddc2417","name":"srazky","func":"var j = global.get(\"jas_mesta\")\nvar l = msg.payload;\nif (j > 0 && j < 3) { j = 3; }\n\nmsg.payload = { 'mesta': l, 'jas': j }\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":660,"wires":[["5d72ce96ee24af62"]]},{"id":"895fe87eef464504","type":"DataIn","z":"a0fed8ce7ddc2417","collection":"dae95bac7cf33e51","name":"radar -1","update":false,"path":"/mapa-radar-1","x":940,"y":320,"wires":[]},{"id":"d97958807b4b5025","type":"DataIn","z":"a0fed8ce7ddc2417","collection":"8e7398b02c0420f7","name":"radar -2","update":false,"path":"/mapa-radar-2","x":940,"y":200,"wires":[]},{"id":"699930b5d0ec0a77","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"e364fc5fe03dd16f","name":"radar","path":"/mapa-radar","error":false,"x":770,"y":320,"wires":[["895fe87eef464504"]]},{"id":"7feb921d803e05d3","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"dae95bac7cf33e51","name":"radar -1","path":"/mapa-radar-1","error":false,"x":780,"y":200,"wires":[["d97958807b4b5025","df4437f90e5f2f9a"]]},{"id":"1ce6a9a33303ae57","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"8e7398b02c0420f7","name":"radar -2","path":"/mapa-radar-2","error":false,"x":780,"y":420,"wires":[["ef495de476d7a0b7","eb83aa8b81984c95","95635aafde0d45f6"]]},{"id":"ce23ed4bda54db39","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"dae95bac7cf33e51","name":"radar -1","path":"/mapa-radar-1","error":false,"x":780,"y":540,"wires":[["1a8781628a70ed58","eb83aa8b81984c95","95635aafde0d45f6"]]},{"id":"ef69ddf36effacca","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"e364fc5fe03dd16f","name":"radar","path":"/mapa-radar","error":false,"x":770,"y":660,"wires":[["3288f2c9675dea3e","95635aafde0d45f6","eb83aa8b81984c95"]]},{"id":"b14fca9f1b0bd1dd","type":"function","z":"a0fed8ce7ddc2417","name":"Radar ON","func":"global.set(\"radar\",\"on\");\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":600,"wires":[[]]},{"id":"410cf4177868cf30","type":"function","z":"a0fed8ce7ddc2417","name":"Radar OFF","func":"global.set(\"radar\",\"off\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":640,"wires":[[]]},{"id":"3288f2c9675dea3e","type":"switch","z":"a0fed8ce7ddc2417","name":"","property":"radar","propertyType":"global","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":720,"wires":[["4a552b803e5c464a"]]},{"id":"8ca08c7419eca065","type":"inject","z":"a0fed8ce7ddc2417","name":"create 1+2","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":140,"wires":[["d97958807b4b5025","895fe87eef464504"]]},{"id":"eb83aa8b81984c95","type":"debug","z":"a0fed8ce7ddc2417","name":"012","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":460,"wires":[]},{"id":"38efc7edeafe3a02","type":"delay-topic-message","z":"a0fed8ce7ddc2417","delay":"3","x":200,"y":500,"wires":[["69201ab45a13af38"]]},{"id":"df4437f90e5f2f9a","type":"delay-topic-message","z":"a0fed8ce7ddc2417","delay":"1","x":776,"y":261,"wires":[["699930b5d0ec0a77"]]},{"id":"ef495de476d7a0b7","type":"delay-topic-message","z":"a0fed8ce7ddc2417","delay":"0.75","x":789,"y":483,"wires":[["ce23ed4bda54db39"]]},{"id":"1a8781628a70ed58","type":"delay-topic-message","z":"a0fed8ce7ddc2417","delay":"0.75","x":790,"y":600,"wires":[["ef69ddf36effacca"]]},{"id":"4a552b803e5c464a","type":"delay-topic-message","z":"a0fed8ce7ddc2417","delay":"8","x":780,"y":780,"wires":[["215ec315ba2ed2bb"]]},{"id":"6684c4d3a4a4ec50","type":"delay","z":"a0fed8ce7ddc2417","name":"RL","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":570,"y":520,"wires":[["1ce6a9a33303ae57"]]},{"id":"ab6b3e96b63240fb","type":"link in","z":"a0fed8ce7ddc2417","name":"link in ref","links":["215ec315ba2ed2bb"],"x":465,"y":520,"wires":[["6684c4d3a4a4ec50"]]},{"id":"215ec315ba2ed2bb","type":"link out","z":"a0fed8ce7ddc2417","name":"link out ref","mode":"link","links":["ab6b3e96b63240fb"],"x":905,"y":740,"wires":[]},{"id":"5eda09a88910011e","type":"DataOut","z":"a0fed8ce7ddc2417","collection":"e364fc5fe03dd16f","name":"radar","path":"/mapa-radar","error":false,"x":510,"y":800,"wires":[["8e78bb7dd31fa729"]]},{"id":"e4aea52d2fa9fbe8","type":"inject","z":"a0fed8ce7ddc2417","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":560,"y":420,"wires":[["1ce6a9a33303ae57"]]},{"id":"dfb839771dc8bdb0","type":"api-current-state","z":"a0fed8ce7ddc2417","name":"Lux","server":"37fc65d2.44a4fa","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.lux","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":60,"wires":[["64e0c8422e479c6c","0b9a0bb64b2d3461"]]},{"id":"6a945c17035009a6","type":"server-state-changed","z":"a0fed8ce7ddc2417","name":"Desk","server":"37fc65d2.44a4fa","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"light.sv_skup_stul","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":60,"wires":[["dfb839771dc8bdb0"]]},{"id":"04e089f807511567","type":"http request","z":"a0fed8ce7ddc2417","name":"Srazky","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://lab.aperturelab.cz/mapa/srazky.php","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":250,"y":300,"wires":[["38efc7edeafe3a02","7feb921d803e05d3","75fbc0091e2fd0a7","43554fcc65866cb5"]]},{"id":"5e9ab8ddf4f46579","type":"inject","z":"a0fed8ce7ddc2417","name":"Get","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":300,"wires":[["04e089f807511567"]]},{"id":"75fbc0091e2fd0a7","type":"delay-topic-message","z":"a0fed8ce7ddc2417","delay":"2","x":420,"y":300,"wires":[["cb7b20da6626075e"]]},{"id":"9ce03b9aead10c3f","type":"ha-webhook","z":"a0fed8ce7ddc2417","name":"","server":"37fc65d2.44a4fa","version":3,"exposeAsEntityConfig":"","outputs":1,"webhookId":"CENSORED_DOPLN_SVOJE","method_get":true,"method_head":false,"method_post":false,"method_put":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"payloadLocation":false,"payloadLocationType":false,"headersLocation":false,"headersLocationType":false,"x":100,"y":340,"wires":[["04e089f807511567"]]},{"id":"e364fc5fe03dd16f","type":"json-db-collection","name":"","collection":"mapa-radar","save":true},{"id":"6e81e09977494326","type":"json-db-collection","name":"","collection":"mapa-teplota","save":true},{"id":"37fc65d2.44a4fa","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"dae95bac7cf33e51","type":"json-db-collection","name":"","collection":"mapa-radar-1","save":true},{"id":"8e7398b02c0420f7","type":"json-db-collection","name":"","collection":"mapa-radar-2","save":true}]
